extends layout

block content
  h1 サーバ負荷を動的に表示します
  p#numOfPeople
  p 人がアクセス中
  h1 サーバーステータス
  h3 ロードアベレージ
  p#loadavg
  h1 Chart.js
  h2 アクセス人数に応じて楕円のサイズが変動します
  canvas#myChart
  h1 pixi.js
  div#pixiView
  script(src="/javascripts/bundle.js")